<div class="signup-container">
  <div class="signup-header">
    <img src="assets/logo.svg" alt="" />
  </div>
  <div class="signup-form-container">
    <app-signup-form-step2
      class="form-side"
      (signupData)="handleSignupForm($event)"
    ></app-signup-form-step2>
    <div class="text-side">
      <p class="headline">לקנות מהר, למכור מהר. ויש לנו אחלה כלים לזה.</p>
      <div class="icons">
        <div class="box">
          <img src="assets/bell.svg" alt="bell image" />
          <p class="text">התראות</p>
        </div>
        <div class="box">
          <img src="assets/chat.svg" alt="chat image" />
          <p class="text">צ'אט</p>
        </div>
        <div class="box">
          <img src="assets/profile.svg" alt="profile image" />
          <p class="text">פרסום מודעה</p>
        </div>
        <div class="box">
          <img src="assets/rocket.svg" alt="rocket image" />
          <p class="text">אזור אישי</p>
        </div>
      </div>
    </div>
  </div>
</div>
