$largeScreen: 1370px;
$desktop: 1250px;
$laptop: 1080px;
$mobile: 900px;
$blackish: rgb(54, 54, 54);
$light-gray: rgb(244, 244, 244);
$orange: rgb(255, 113, 0);
$font-weight-s: 100;
$light-orange: rgb(255, 241, 229);
$generic-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$wizard-number-size: 20px;
$carrabian-green: rgb(15, 202, 128);

//text size
$text-xs: 0.7rem;
$text-s: 0.8rem;
$text-m: 1rem;
$text-l: 1.3rem;
$text-xl: 2rem;
