$largeScreen: 1370px;
$desktop: 1250px;
$laptop: 1080px;
$mobile: 900px;
$blackish: rgb(54, 54, 54);
$light-gray: rgb(244, 244, 244);
$orange: rgb(255, 113, 0);
$font-weight-s: 100;
$light-orange: rgb(255, 241, 229);
