<div class="asset-address-container">
  <app-wizard-summary
    [number]="wizardNumber"
    [text]="'כתובת הנכס'"
    [state]="isComplete"
    (onEditClick)="isComplete = !isComplete"
  ></app-wizard-summary>

  <div *ngIf="isActive">
    <form
      class="asset-address-form"
      [formGroup]="assetAddressForm"
      (ngSubmit)="onSubmit()"
    >
      <p id="form-text">סימנו עבורך את שדות החובה, שלא נפספס פרט חשוב</p>

      <div class="form-control">
        <label for="city">יישוב*</label>
        <input
          type="text"
          placeholder="איפה נמצא הנכס?"
          id="city"
          formControlName="city"
          (focus)="isCityInputFocus = true"
        />
        <div *ngIf="cities$ | async as cities" class="select-container">
          <select
            *ngIf="cities.result.records.length > 0 && isCityInputFocus"
            (change)="setCityInputValue($event)"
          >
            <option value="" disabled selected>תבחר את העיר שלך</option>

            <option
              [value]="city['שם_ישוב']"
              *ngFor="let city of cities.result.records; let index = index"
            >
              {{ city["שם_ישוב"] }}
            </option>
          </select>
        </div>
        <app-error-message
          [error]="
            assetAddressForm.get('city')?.invalid &&
            assetAddressForm.get('city')?.touched
              ? 'חייב להכניס שם עיר'
              : null
          "
        ></app-error-message>
      </div>

      <div class="form-control">
        <label for="street">רחוב*</label>
        <input
          type="text"
          placeholder="הכנסת שם הרחוב"
          id="street"
          formControlName="street"
          (focus)="isStreetInputFocus = true"
        />
        <div *ngIf="streets$ | async as streets" class="select-container">
          <select
            *ngIf="streets.result.records.length > 0 && isStreetInputFocus"
            (change)="setStreetInputValue($event)"
          >
            <option value="" disabled selected>תבחר את הרחוב שלך</option>

            <option
              [value]="street['שם_רחוב']"
              *ngFor="let street of streets.result.records; let index = index"
            >
              {{ street["שם_רחוב"] }}
            </option>
          </select>
        </div>
        <app-error-message
          [error]="
            assetAddressForm.get('street')?.invalid &&
            assetAddressForm.get('street')?.touched
              ? 'חייב להכניס שם רחוב'
              : null
          "
        ></app-error-message>
      </div>

      <div class="flex-row">
        <div class="form-control">
          <label for="houseNumber">מס' בית*</label>
          <input
            type="number"
            placeholder="מספר בית"
            id="houseNumber"
            formControlName="houseNumber"
          />
          <app-error-message
            [error]="
              assetAddressForm.get('houseNumber')?.invalid &&
              assetAddressForm.get('houseNumber')?.touched
                ? 'חייב להכניס מספר בית'
                : null
            "
          ></app-error-message>
        </div>

        <div class="form-control">
          <label for="apartmentNumber">מס' דירה</label>
          <input
            type="number"
            placeholder="מספר דירה"
            id="apartmentNumber"
            formControlName="apartmentNumber"
          />
        </div>
      </div>

      <div class="flex-row">
        <div class="form-control">
          <label for="floor">קומה*</label>
          <input
            type="number"
            placeholder="מספר קומה"
            id="floor"
            formControlName="floor"
          />
          <app-error-message
            [error]="
              assetAddressForm.get('floor')?.invalid &&
              assetAddressForm.get('floor')?.touched
                ? 'חייב להכניס מספר קומה'
                : null
            "
          ></app-error-message>
        </div>
        <div class="form-control">
          <label for="totalFloors">סה״כ קומות בבניין*</label>
          <input
            type="number"
            placeholder="מספר קומות"
            id="totalFloors"
            formControlName="totalFloors"
          />
          <app-error-message
            [error]="
              assetAddressForm.get('totalFloors')?.invalid &&
              assetAddressForm.get('totalFloors')?.touched
                ? 'חייב להכניס מספר קומות'
                : null
            "
          ></app-error-message>
        </div>
        <div class="flex-center">
          <input type="checkbox" id="isOnColums" formControlName="isOnColums" />
          <label for="isOnColums">על עמודים</label>
        </div>
      </div>

      <div class="form-control blocked">
        <label for="street">שכונה</label>
        <input [placeholder]="neighborhood" />
        <p>המידע מגיע מגוף ממשלתי ולא ניתן לשינוי</p>
      </div>

      <div class="form-control blocked">
        <label for="street">אזור</label>
        <input [placeholder]="area" />
        <p>המידע מגיע מגוף ממשלתי ולא ניתן לשינוי</p>
      </div>

      <hr />

      <div class="form-control">
        <label for="assetType">סוג הנכס*</label>

        <input
          type="text"
          placeholder="דירה או אולי פנטהאוז"
          id="assetType"
          formControlName="assetType"
          readonly
          class="asset-type"
          (click)="isAssetTypeSelectionOn = !isAssetTypeSelectionOn"
          (blur)="isAssetTypeSelectionOn = false"
        />

        <ul
          *ngIf="isAssetTypeSelectionOn"
          class="list"
          (mousedown)="$event.preventDefault()"
        >
          <li
            (click)="setAssetTypeInputValue(assetType)"
            *ngFor="let assetType of assets; let index = index"
          >
            <div>
              {{ assetType }}
            </div>
          </li>
        </ul>
        <app-error-message
          [error]="
            assetAddressForm.get('assetType')?.invalid &&
            assetAddressForm.get('assetType')?.touched
              ? 'חייב להכניס סוג נכס'
              : null
          "
        ></app-error-message>
      </div>

      <div class="form-control">
        <label for="assetState">מצב הנכס*</label>

        <input
          type="text"
          placeholder="משופץ? חדש מקבלן?"
          id="assetState"
          formControlName="assetState"
          readonly
          class="asset-type"
          (click)="isAssetStateSelectionOn = !isAssetStateSelectionOn"
          (blur)="isAssetStateSelectionOn = false"
        />

        <ul
          *ngIf="isAssetStateSelectionOn"
          class="list"
          (mousedown)="$event.preventDefault()"
        >
          <li
            (click)="setAssetStateInputValue(assetState)"
            *ngFor="let assetState of conditions; let index = index"
          >
            <div>
              {{ assetState }}
            </div>
          </li>
        </ul>
        <app-error-message
          [error]="
            assetAddressForm.get('assetState')?.invalid &&
            assetAddressForm.get('assetState')?.touched
              ? 'חייב להכניס מצב נכס'
              : null
          "
        ></app-error-message>
      </div>

      <div class="form-control">
        <label for="airDirections">כיווני אוויר</label>
        <app-button-toggle formControlName="airDirections"></app-button-toggle>
      </div>

      <div class="form-control">
        <label for="openView">נוף פתוח</label>
        <app-button-toggle formControlName="openView"></app-button-toggle>
      </div>

      <div class="bottom-checkbox-container">
        <input type="checkbox" id="isRearAsset" formControlName="isRearAsset" />
        <label for="isRearAsset">נכס עורפי</label>
      </div>

      <div class="bottom-checkbox-container">
        <input
          type="checkbox"
          id="isMonthlyUpdated"
          formControlName="isMonthlyUpdated"
        />
        <label for="isMonthlyUpdated"
          >אני רוצה לקבל עדכון חודשי במייל עם הערכת שווי מעודכנת עבור הנכס,
          עסקאות באיזור והצעות מקצועיות מיועצי נדל״ן</label
        >
      </div>

      <div class="commercial"></div>

      <div class="btn-container">
        <button (click)="returnToPrev()">חזרה</button>
        <button
          type="submit"
          class="next-stage-btn"
          (click)="this.assetAddressForm.markAllAsTouched()"
        >
          המשך לשלב הבא
        </button>
      </div>
      <!-- <button (click)="setvalid()">form valid</button> -->
    </form>
  </div>
</div>
