<div
  [class]="isSideBarOpen ? 'sidebar' : ''"
  [ngClass]="{ 'display-none': isSideBarOpen }"
  (click)="closeSideBar()"
></div>

<app-header-sidebar
  [ngClass]="{ 'sidebar-container': true }"
  [isSidebarOpen]="isSideBarOpen"
  (clickEvent)="closeSideBar()"
></app-header-sidebar>

<div class="mobile-navbar-container">
  <div class="hamburger_like-box">
    <div class="hamburger" (click)="openSideBar()">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>

    <a class="favorites-btn flex-center">
      <app-like class="like-icon"></app-like>
      <p class="like-btn-text">מודעות שאהבתי</p>
    </a>
  </div>

  <div class="header_logo">
    <img src="/assets/logo.svg" alt="yad2 logo" />
  </div>

  <a class="message-btn flex-center">
    <app-message class="message-btn"></app-message>
  </a>
</div>

<div class="navbar-container">
  <div class="header_logo">
    <img src="/assets/logo.svg" alt="yad2 logo" />
  </div>

  <ul class="navbar-menu">
    <div class="nav-item-container" [ngStyle]="{ '--grid-row': 4 }">
      <li class="navbar-link"><a>נדל"ן</a></li>
      <ul class="dropdown-menu">
        <li class="dropdown-item"><a>דירות למכירה</a></li>
        <li class="dropdown-item"><a>דירות להשכרה</a></li>
        <li class="dropdown-item"><a>נדל"ן מסחרי</a></li>
        <li class="dropdown-item"><a>עסקים למכירה</a></li>
        <li class="dropdown-item"><a> יד 1 דירות חדשות</a></li>
        <li class="dropdown-item"><a>כונס נכסים</a></li>
        <li class="dropdown-item"><a>הערכת שווי נכס</a></li>
        <li class="dropdown-item"><a>משרדי תיווך בישראל</a></li>
      </ul>
    </div>

    <div class="nav-item-container" [ngStyle]="{ '--grid-row': 7 }">
      <li class="navbar-link"><a>רכב</a></li>
      <ul class="dropdown-menu">
        <li class="dropdown-item"><a>פרטיים ומסחריים</a></li>
        <li class="dropdown-item"><a>אופנועים</a></li>
        <li class="dropdown-item"><a>קטנועים</a></li>
        <li class="dropdown-item"><a>מיוחדים</a></li>

        <li class="dropdown-item"><a>אביזרים</a></li>
        <li class="dropdown-item"><a>משאיות</a></li>
        <li class="dropdown-item"><a>כלי שייט</a></li>
        <li class="dropdown-item"><a> קטלוג רכבים</a></li>
        <li class="dropdown-item"><a> מחירון רכב</a></li>
        <li class="dropdown-item"><a> מימון רכב</a></li>
      </ul>
    </div>

    <div class="nav-item-container" [ngStyle]="{ '--grid-row': 8 }">
      <li class="navbar-link"><a>יד שנייה</a></li>
      <ul class="dropdown-menu">
        <li class="dropdown-item"><a>כל המוצרים</a></li>
        <li class="dropdown-item"><a>מוצרי חשמל</a></li>
        <li class="dropdown-item"><a>ריהוט</a></li>
        <li class="dropdown-item"><a>ספורט</a></li>
        <li class="dropdown-item"><a>סלולרי</a></li>
        <li class="dropdown-item"><a>לתינוק ולילד</a></li>
        <li class="dropdown-item"><a>הכל בחינם!</a></li>
        <li class="dropdown-item"><a>קונסולות משחק</a></li>
        <li class="dropdown-item"><a>מחשבים וציוד נלווה</a></li>
        <li class="dropdown-item"><a>לגינה</a></li>
        <li class="dropdown-item"><a>אופנה וטיפול</a></li>
      </ul>
    </div>

    <div class="nav-item-container" [ngStyle]="{ '--grid-row': 10 }">
      <li class="navbar-link"><a>דרושים IL</a></li>
      <ul class="dropdown-menu">
        <li class="dropdown-item"><a> חיפוש עבודה</a></li>
        <li class="dropdown-item"><a>פרסום משרות</a></li>
        <li class="dropdown-item"><a>כתיבת קורות חיים</a></li>
        <li class="dropdown-item"><a>אודות החברות</a></li>
        <li class="dropdown-item"><a> דרושים הייטק</a></li>
        <li class="dropdown-item"><a> דרושים סטודנטים</a></li>
        <li class="dropdown-item"><a> מגזין הקריירה</a></li>
        <li class="dropdown-item"><a> כספים</a></li>
        <li class="dropdown-item"><a> מכירות</a></li>
        <li class="dropdown-item"><a> שירות לקוחות</a></li>
        <li class="dropdown-item"><a>אדמיניסטרציה</a></li>
        <li class="dropdown-item"><a>מהנדסים</a></li>
        <li class="dropdown-item"><a>תחבורה</a></li>
        <li class="dropdown-item"><a>מסעדנות/תיירות</a></li>
        <li class="dropdown-item"><a>אבטחה</a></li>
        <li class="dropdown-item"><a>בריאות</a></li>
        <li class="dropdown-item"><a>בעלי מקצוע</a></li>
        <li class="dropdown-item"><a>הדרכה/הוראה</a></li>
        <li class="dropdown-item"><a>שיווק</a></li>
        <li class="dropdown-item"><a>לתחומים נוספים</a></li>
      </ul>
    </div>

    <div class="nav-item-container">
      <li class="navbar-link"><a>עסקים למכירה</a></li>
      <ul class="dropdown-menu">
        <li class="dropdown-item"><a>בתי קפה ומסעדנות</a></li>
        <li class="dropdown-item"><a>זכיינות</a></li>
        <li class="dropdown-item"><a>קווי חלוקה</a></li>
        <li class="dropdown-item"><a>הזדמנויות עסקיות</a></li>
        <li class="dropdown-item"><a> מינימרקטים וסופרמרקטים</a></li>
        <li class="dropdown-item"><a>קיוסקים ופיצוציות</a></li>
        <li class="dropdown-item"><a>לכל העסקים</a></li>
      </ul>
    </div>

    <div class="nav-item-container">
      <li class="navbar-link">
        <a>חיות מחמד</a>
      </li>
      <ul class="dropdown-menu">
        <li class="dropdown-item"><a>כלבים</a></li>
        <li class="dropdown-item"><a>חתולים</a></li>
        <li class="dropdown-item"><a>תוכים ובעלי כנף</a></li>
        <li class="dropdown-item"><a>דגים</a></li>
        <li class="dropdown-item"><a>זוחלים</a></li>
        <li class="dropdown-item"><a>מכרסמים</a></li>
        <li class="dropdown-item"><a>סוסים</a></li>
        <li class="dropdown-item"><a>תרנגולים</a></li>
        <li class="dropdown-item"><a>חיות משק</a></li>
        <li class="dropdown-item"><a>חמוסים</a></li>
      </ul>
    </div>

    <div class="nav-item-container">
      <li class="navbar-link"><a>בעלי מקצוע</a></li>
      <ul class="dropdown-menu">
        <li class="dropdown-item"><a>מכוני בדיקה ורישוי לרכב</a></li>
        <li class="dropdown-item"><a> רחיצת רכב</a></li>
        <li class="dropdown-item"><a>חומרי בניין</a></li>
        <li class="dropdown-item"><a> אינסטלטורים</a></li>
        <li class="dropdown-item"><a>חשמלאים</a></li>
        <li class="dropdown-item"><a>שמאי מקרקעין</a></li>
        <li class="dropdown-item"><a>שיפוצים</a></li>
        <li class="dropdown-item"><a>הובלות</a></li>
        <li class="dropdown-item"><a>רהיטים</a></li>
        <li class="dropdown-item"><a>חברות ניקיון ואחזקה</a></li>
        <li class="dropdown-item"><a>לכל בעלי המקצוע</a></li>
      </ul>
    </div>

    <div class="nav-item-container">
      <li class="navbar-link"><a> מגזין יד 2</a></li>
    </div>
  </ul>

  <a class="favorites-btn flex-center">
    <app-like class="like-icon"></app-like>
    <p class="like-btn-text">מודעות שאהבתי</p>
    <div class="dropdown-favorite-message">
      <p class="favorite-text-header">מודעות שאהבתי</p>
      <p class="favorite-text-subheader">אין לך עדיין מודעות שאהבת.</p>
      <p class="favorite-text-subheader">כדי לשמור מודעות שאהבת,</p>
      <p class="favorite-text-subheader">ולשמור נוספות,יש להתחבר לחשבון שלך</p>
    </div>
  </a>

  <div class="user-link-container flex-center" routerLink="auth/login">
    <a
      [ngClass]="{ 'user-icon': true, 'logged-user-icon': true }"
      *ngIf="isLoggedIn"
      >{{ user.firstName.charAt(0) }}</a
    >
    <a class="user-icon" *ngIf="!isLoggedIn">
      <app-user></app-user>
    </a>
    <p class="user-text">התחברות</p>

    <ul class="dropdown-user-info">
      <li *ngIf=""><app-user></app-user><span>אזור אישי</span></li>
      <li><app-clock></app-clock><span>חיפושים אחרונים</span></li>
      <li><app-bell></app-bell><span>התראות</span></li>
      <li *ngIf=""><app-logout></app-logout><span>התנתקות</span></li>
    </ul>
  </div>

  <div class="add-ad-container flex-center" [routerLink]="user ? 'advertisement' : 'auth/login'">
    <span class="plus-icon">+</span>
    <p class="add-ad-text">פרסום מודעה</p>
  </div>
</div>
