<form
  class="signup-form"
  [formGroup]="signupForm"
  (ngSubmit)="handleSubmitSignupForm()"
>
  <div id="profile">
    <img src="assets/profile-plus.svg" alt="profile image" />
  </div>
  <div class="form-control">
    <p class="title">היי נעים להכיר</p>
  </div>

  <div class="form-control">
    <label for="firstName">שם פרטי</label>
    <input
      formControlName="firstName"
      type="text"
      placeholder="הקלדת שם פרטי"
      id="firstName"
    />
    <app-error-message
      *ngIf="
        this.signupForm.get('firstName')?.invalid &&
        this.signupForm.get('firstName')?.touched
      "
      error="Must enter a first name"
    ></app-error-message>
  </div>

  <div class="form-control">
    <label for="lastName">שם משפחה</label>
    <input
      formControlName="lastName"
      type="text"
      placeholder="הקלדת שם משפחה"
      id="lastName"
    />
    <app-error-message
      *ngIf="
        this.signupForm.get('lastName')?.invalid &&
        this.signupForm.get('lastName')?.touched
      "
      error="Must enter a last name"
    ></app-error-message>
  </div>

  <div class="form-control">
    <label for="phoneNumber">טלפון</label>
    <input
      formControlName="phoneNumber"
      type="text"
      placeholder="מספר נייד"
      id="phoneNumber"
      maxlength="10"
      minlength="10"
      pattern="[0-9]+"
    />
    <app-error-message
      *ngIf="
        this.signupForm.get('phoneNumber')?.invalid &&
        this.signupForm.get('phoneNumber')?.touched
      "
      error="Must enter a valid Phone Number"
    ></app-error-message>
  </div>

  <div class="form-control">
    <div class="checkbox">
      <input formControlName="hasReadTerms" type="checkbox" id="hasReadTerms" />
      <label for="hasReadTerms"
        >קראתי ואישרתי את <span id="orange-text">תקנון</span> האתר*</label
      >
    </div>

    <app-error-message
      *ngIf="
        this.signupForm.get('hasReadTerms')?.invalid &&
        this.signupForm.get('hasReadTerms')?.touched
      "
      error="you Must agree to the terms"
    ></app-error-message>
  </div>

  <div class="form-control">
    <div class="checkbox">
      <input type="checkbox" id="extra-info" />
      <label for="extra-info">
        אני מאשר/ת קבלת פניות ותוכן שיווקי ומקצועי מיד2 וגורמים שונים באמצעות
        מייל, מסרון, טלפון, ושירותי דיוור ישיר, כמפורט במדיניות הפרטיות
      </label>
    </div>
  </div>

  <button type="submit" [disabled]="this.signupForm.invalid">סיום הרשמה</button>
</form>
