<form
  class="signup-form"
  [formGroup]="signupForm"
  (ngSubmit)="handleSubmitSignupForm()"
>
  <div class="form-control">
    <p class="title">היי נעים להכיר</p>
  </div>

  <div class="form-control">
    <label for="email">Email</label>
    <input formControlName="email" type="text" placeholder="Email" id="email" />
    <app-error-message
      *ngIf="
        this.signupForm.get('email')?.invalid &&
        this.signupForm.get('email')?.touched
      "
      [error]="invalidEmailMessage()"
    ></app-error-message>
  </div>

  <div class="form-control">
    <label for="password">Password</label>
    <input
      formControlName="password"
      type="password"
      placeholder="Password"
      id="password"
    />
    <app-error-message
      *ngIf="
        this.signupForm.get('password')?.invalid &&
        this.signupForm.get('password')?.touched
      "
      [error]="invalidPasswordMessage()"
    ></app-error-message>
  </div>

  <div class="form-control">
    <label for="confirmPassword">Confirm Password</label>
    <input
      formControlName="confirmPassword"
      type="password"
      placeholder="Confirm Password"
      id="confirmPassword"
    />
    <app-error-message
      *ngIf="
        this.signupForm.get('confirmPassword')?.invalid &&
        this.signupForm.get('confirmPassword')?.touched
      "
      [error]="invalidConfirmPasswordMessage()"
    ></app-error-message>
  </div>

  <div class="form-control">
    <label for="firstName">שם פרטי</label>
    <input
      formControlName="firstName"
      type="text"
      placeholder="First Name"
      id="firstName"
    />
    <app-error-message
      *ngIf="
        this.signupForm.get('firstName')?.invalid &&
        this.signupForm.get('firstName')?.touched
      "
      error="Must enter a first name"
    ></app-error-message>
  </div>

  <div class="form-control">
    <label for="lastName">שם משפחה</label>
    <input
      formControlName="lastName"
      type="text"
      placeholder="Last Name"
      id="lastName"
    />
    <app-error-message
      *ngIf="
        this.signupForm.get('lastName')?.invalid &&
        this.signupForm.get('lastName')?.touched
      "
      error="Must enter a last name"
    ></app-error-message>
  </div>

  <div class="form-control">
    <label for="phone">טלפון</label>
    <input
      formControlName="phone"
      type="text"
      placeholder="Phone"
      id="lastName"
    />
    <app-error-message
      *ngIf="
        this.signupForm.get('lastName')?.invalid &&
        this.signupForm.get('lastName')?.touched
      "
      error="Must enter a last name"
    ></app-error-message>
  </div>

  <button type="submit" [disabled]="this.signupForm.invalid">Sign Up</button>
</form>
