$primary-color: navy;
$desktop: 1025px;
$mobile: 768px;

:host(.form-container) {
  display: block;
  width: 100%;
}

.signup-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 1rem 1rem;
  gap: 1rem;
  .title {
    text-align: center;
    font-size: 1.5rem;
    span {
      font-size: 2rem;
      color: rgb(210, 9, 210);
    }
  }
  .subtitle {
    text-align: center;
    font-size: 1rem;
  }

  .form-control {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    label {
      font-size: smaller;
    }
    input {
      width: 100%;
      padding: 0.5rem;
      border: none;
      &.ng-invalid.ng-touched {
        border: 2px solid red;
      }
      &.ng-valid.ng-touched {
        border: 2px solid green;
      }
      &::placeholder {
        color: lightgray;
      }
    }
  }
  button {
    width: 100%;
    background-color: tomato;
    border: none;
    padding-block: 0.5rem;
    color: white;
    cursor: pointer;
    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }
}
