<div class="phone-modal" *ngIf="isModalOpen" (click)="onModalClosed()">
  <div class="modal-box" (click)="$event.stopPropagation()">
    <button class="exit" (click)="onModalClosed()">X</button>
    <div class="add-phone-container">
      <p id="text">מספרי הטלפון שלך</p>
      <input
        class="phone-input"
        placeholder="הקלד מספר טלפון"
        type="number"
        (input)="updatePhoneNumberValidity($event)"
      />
      <button
        [disabled]="!isPhoneInputValid"
        [ngClass]="{
          'add-phone-btn': true
        }"
        (click)="onModalClosed()"
      >
        הוסף מספר
      </button>
    </div>

    <div class="existing-contact-container">
      <div class="used-contact" *ngIf="contactInUse.length > 0">
        <p class="contact">
          {{ contactInUse }}
        </p>
        <button class="remove-contact" (click)="clearContactInUse()">-</button>
      </div>

      <p class="dummy-contact">לא בשימוש</p>
      <div class="available-contacts" *ngIf="contactInUse.length <= 0">
        <p
          class="contact"
          *ngFor="let contact of contactsAvailable"
          (click)="addToContactInUse(contact)"
        >
          {{ contact }}
          <button class="add-contact">+</button>
        </p>
      </div>
    </div>
    <button class="add-phone-btn" (click)="addContact()">בחירה</button>
  </div>
</div>

<div class="asset-contact-info-container">
  <app-wizard-summary
    [number]="6"
    [text]="'פרטי התקשרות'"
    [state]="isComplete"
    (onEditClick)="isComplete = !isComplete"
  ></app-wizard-summary>

  <div>
    <form class="asset-contact-info-form" [formGroup]="assetContactInfoForm">
      <div class="form-control">
        <label for="assetOwner">בעלות הנכס</label>

        <input
          type="text"
          id="assetOwner"
          formControlName="assetOwner"
          readonly
          class="asset-owner"
          (click)="isOwnerSelectionOn = !isOwnerSelectionOn"
        />

        <ul *ngIf="isOwnerSelectionOn" class="list">
          <li
            (click)="setOwnerInputValue(owner)"
            *ngFor="let owner of ownerOptions; let index = index"
          >
            <div>
              {{ owner }}
            </div>
          </li>
        </ul>
      </div>

      <div class="form-control">
        <label for="contactName">השם שלך*</label>
        <input type="text" id="contactName" formControlName="contactName" />
      </div>

      <div class="form-control">
        <label for="contactPhone">טלפון*</label>
        <div class="phone-container" (click)="onModalOpen(true)">
          <input
            type="text"
            id="contactPhone"
            formControlName="contactPhone"
            readonly
          />
          <div class="plus">+</div>
        </div>
      </div>

      <ng-container *ngIf="isAddContectOn">
        <div class="form-control">
          <label for="additionalContactName">השם שלך*</label>
          <input
            type="text"
            id="additionalContactName"
            formControlName="additionalContactName"
          />
        </div>

        <div class="form-control">
          <label for="additionalContactPhone">טלפון*</label>
          <div class="phone-container" (click)="onModalOpen(false)">
            <input
              type="text"
              id="additionalContactPhone"
              formControlName="additionalContactPhone"
              readonly
            />
            <div class="plus">+</div>
          </div>
        </div>
      </ng-container>

      <p class="another__contact" (click)="toggleContactPhoneState()">
        <span class="plus">{{ isAddContectOn ? "-" : "+" }}</span
        ><span class="add-or-remove">{{
          isAddContectOn ? "הסר" : "הוספת"
        }}</span>
        איש קשר נוסף
      </p>

      <hr />

      <div class="agreements">
        <div class="terms checkbox" (click)="ToggleTermsControl()">
          <input type="checkbox" formControlName="hasReadTerms" />
          <p>רק לקרוא ולאשר את <span class>התקנון*</span></p>
        </div>
        <div class="updates checkbox">
          <input type="checkbox" formControlName="willAcceptUpdates" />
          <p>
            אשמח לקבל עדכונים, פרסומים, הצעות או טיפים בקשר ללוח המודעות ביד2
          </p>
        </div>
      </div>

      <hr />

      <div class="advertising"></div>

      <div class="btn-container">
        <button>חזרה</button>
        <button class="next-stage-btn">המשך לשלב הבא</button>
      </div>
    </form>
  </div>
</div>
