/* You can add global styles to this file, and also import other style files */
@use "../src/app/styles/variables.scss" as *;
@use "../src/app/styles/mixin.scss" as *;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  a {
    cursor: pointer;
  }
  line-height: 1.15;
}

body {
  direction: rtl;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
