@use "../../styles/variables.scss" as *;
@use "../../styles/mixin.scss" as *;

:host {
  display: block;
  height: 100%;
}
.pick-ad-container {
  display: flex;
  flex-direction: column;
  background-color: $light-gray;
  min-height: 100%;
  .pick-ad-header {
    @include flex-between;
    background-color: white;
    height: 3.5rem;
    .logo-container {
      @include flex-center;
      height: 100%;
      padding-inline: 1rem;
      gap: 1rem;
      .new-ad-text {
        font-weight: 400;
        font-size: 1.1rem;
        color: $blackish;
        @media (max-width: $mobile) {
          display: none;
        }
      }
    }
    .nav-links-container {
      display: flex;
      position: relative;
      gap: 0.5rem;
      height: 100%;
      padding-inline: 0.5rem;
      .box {
        @include flex-center;
        cursor: pointer;
        padding-inline: 1rem;
        gap: 0.5rem;
      }
      .user-link {
        color: $orange;
        .user-icon {
          color: darkorange;
        }
        &:hover {
          .user-options {
            height: 5rem;
            border: 1px solid gainsboro;
          }
        }
      }
      .contact {
        #contact-text {
          display: none;
        }
        .question-mark-wrapper {
          background-color: $light-orange;
          width: 1.8rem;
          height: 1.8rem;
          border-radius: 50%;
          @include flex-center;
        }
        #question-mark {
          @include flex-center;
          width: 0.9rem;
          height: 0.9rem;
          border-radius: 50%;
          background-color: transparent;
          color: $orange;
          font-size: 0.7rem;
          margin: 0.5rem;
          padding: 0.5rem;
          border: 2.1px solid $orange;
        }
        @media (min-width: $mobile) {
          .question-mark-wrapper {
            display: none;
          }
          #contact-text {
            display: block;
          }
        }
      }
      .user-options {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 0;
        color: black;
        overflow: hidden;
        position: absolute;
        top: 100%;
        background-color: white;
        transition: height 0.5s ease-out;
        white-space: nowrap;
        font-weight: 400;
        font-size: 0.9rem;
        border-radius: 4px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
        .link {
          padding: 0.4rem 0.5rem;
          width: 100%;
          cursor: pointer;
          &:hover {
            color: $orange;
            background-color: $light-gray;
          }
        }
      }
    }
  }

  .pick-ad-main {
    @include flex-center(column);
    padding-block: 4rem;
    margin: auto;
    width: 90%;
    min-height: calc(100vh - 3.5rem);
    gap: 2rem;
    #i-want-ad-text {
      color: $blackish;
      font-size: 1.5rem;
    }
    .ads-boxes-container {
      @include flex-center;
      flex-wrap: wrap;
      gap: 2rem;
      .realestate {
        #open-house {
          display: none;
        }
        &:hover {
          #close-house {
            display: none;
          }
          #open-house {
            display: block;
          }
        }
      }
    }
  }
}
.ad-box {
  @include flex-center(column);
  cursor: pointer;
  min-height: 230px;
  width: 270px;
  box-shadow: $generic-shadow;
  background-color: white;
  border-radius: 10px;
  .ad-desc {
    height: 100%;
    .ad-type {
      color: $blackish;
      font-size: 1.3rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }
    .ad-subtypes {
      color: gainsboro;
      height: 2.6rem;
      width: 90%;
      text-align: center;
    }
    @include flex-center(column);
    button {
      display: none;
      cursor: pointer;
      padding: 0.8rem 2rem;
      background-color: $orange;
      border: none;
      color: white;
      border-radius: 30px;
    }
  }
  &:hover {
    .ad-desc {
      button {
        display: block;
      }
      .ad-subtypes {
        display: none;
      }
    }
  }
}
